.audiocall-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(../pages/audiocall/img/ocean.jpg);
}

.audio-call {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fe8954;
}

.btn-level {
  color: #fe8954;
  width: 80px;
  height: 50px;
  background-color: #224a9a;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  cursor: pointer;
}