
.audio-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: url('../pages/audiocall/img/ocean.jpg') 0 0 no-repeat;
}

.audio-container-game{
  width: 1200px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background: url('../pages/audiocall/img/ocean1.jpg') 0 0 no-repeat;
}

.audio-call {
   width: 60%;
   height: 60%;
   display: flex;
   font-size: large;
   line-height: 35px;
   font-weight: 700;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   background: #fe8954;
   margin: 5% auto;
   padding: 20px;
   border-radius: 5px;
}

.btn-level {
  color: #224a9a;
  width: 80px;
  height: 50px;
  background-color:#679fe5 ;
  text-align: center;
  line-height: 35px;
  border-radius: 3px;
  cursor: pointer 
}

.btn-translation {
  color: #224a9a;
  font-size: large;
  font-weight: 700;
  width: 170px;
  height: 70px;
  background-color:#fe8954 ;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  border: #224a9a solid 1px;
  margin: 0 5px 20px 5px;
  cursor: pointer 
}

.btn-translation:hover  {
  background-color:#bdccff ;
}
.btn-translation-right{
  color:#fe8954;
  font-size: large;
  font-weight: 700;
  width: 170px;
  height: 70px;
  background-color:#8d0bf7 ;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  border: #580488 solid 1px;
  margin: 0 5px 20px 5px;
  cursor: pointer 
}
.restart {
  color: #fe8954;
  font-size: large;
  font-weight: 700;
  width: 170px;
  height: 70px;
  background-color:#679fe5;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  border: #224a9a solid 1px;
  margin: 0 5px 20px 5px;
  cursor: pointer 
}

.btn-translation-wrong{
  color:#679fe5;
  font-size: large;
  font-weight: 700;
  width: 170px;
  height: 70px;
  background-color:#d11554 ;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  border: #5f0713 solid 1px;
  margin: 0 5px 20px 5px;
  cursor: pointer 
}

.btn-sound {
  margin-top: 10%;
  color: #224a9a;
  width: 80px;
  height: 80px;
  background: url('../pages/audiocall/img/sound.svg') 0 0 no-repeat;
  cursor: pointer 
}

.btn-sound:hover {
  width: 90px;
  height: 90px;
}
// #224a9a;

.game-over{
  background-color:#fe8954;
  font-size: large;
  font-weight: 700;
  width: 500px;
  height: 300px;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  border: #224a9a solid 1px;
  margin: 0, 0, 20px, 0;
}