@import './vars.scss'


canvas
  width: 30rem
  max-width: 90%
  margin: 1rem auto
.statistics__list
  display: flex
  justify-content: space-around
  align-items: center
  font-size: 0.8rem
.statistics__item
  width: 10rem
  height: 1.5rem
  border: 0.1rem solid $blue-color
  border-radius: 0.2rem
  text-align: center
  line-height: 1.5rem
  cursor: pointer
.statistics__item_active
  background-color: $orange-color
  color: $white-color
  border-color: $orange-color
