@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto:wght@400;700&display=swap');

$quick-sand-regular-font: 'Quicksand', sans-serif;
$roboto-regular-font: 'Roboto', sans-serif;

$blue-color: #224a9a;
$orange-color: #f6822b;
$light-blue-color: #518ED2;
$white-color: rgb(255, 255, 255);